body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/src/assets/disney.jpg');
  background-size: cover;
  opacity: 0.8;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(45deg, #ffcc00, #66ccff);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling for the body */
}

/* Questions container styles */
.questions-container {
  position: relative;
  background-size: cover;
  animation: fadeInDown 0.3s ease;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  max-height: 100vh; /* Set a maximum height for the container */
}

.questions-container .questionNr {
  font-size: 16px;
}

.questions-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  background-image: url('https://www.travelandleisure.com/thmb/gfGTlmbwcSEe0wK5xP-AfmpyFks=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/disney-pixar-finding-nemo-ZOOMDISNEY0420-22d2ddc9eb544946a9738d60d982ceff.jpg');
  background-size: cover;
  filter: blur(4px); /* Add a slight blur to the background image */
  z-index: -1;
}

.summary-container {
  color: white;
  font-weight: 600;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 20%;
}
/* Summary container styles */
.summary-container h1,
.practice-container h2 {
  display: flex;
  flex-direction: column;
  animation: fadeInUp 0.5s ease; /* Fade-in animation for summary */
  color: rgb(164, 164, 253);
}

.summary-container p {
  color: white;
  font-weight: 200;
  text-align: center;
}

.summary-container li {
  display: flex;
  flex-direction: column;
  animation: fadeInUp 0.5s ease; /* Fade-in animation for summary */
  font-weight: 200;
}

.summary-container::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px); /* Add a slight blur to the background image */
  z-index: -1;
}

/* Specific styles for the progress bar */
.questions-container .progress-container {
  width: 80%;
  margin: 20px auto;
  background-color: #4caf50;
}

.questions-container .progress-wrapper {
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #4caf50;
}

.questions-container .progress-bar {
  height: 20px;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease;
}

/* Remove the generic div styles affecting the progress bar */
.questions-container div {
  background: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  position: static;
  z-index: auto;
}

div {
  background: linear-gradient(95deg, #010981, #6e2b89); /* Disney colors */
  padding: 20px; /* Increased padding for a more spacious feel */
  border-radius: 12px; /* Rounded corners for a softer look */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Enhanced box shadow */
  position: relative;
  z-index: 1;
}

button {
  margin: 10px; /* Increased margin for better spacing */
  padding: 12px 24px; /* Larger button padding for a more substantial feel */
  font-size: 20px; /* Slightly larger font size for emphasis */
  cursor: pointer;
  background: linear-gradient(45deg, #06a91e, #16f5d4); /* Disney colors */
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

button:hover {
  background: linear-gradient(45deg, #ff3333, #ff9966); /* Disney colors */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px; /* Increased margin for better spacing between list items */
}

h1,
h2 {
  color: white; /* White text color for better contrast */
  padding-left: 20px;
  padding-right: 20px;
}

/* Animation keyframes for questions container */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation keyframes for summary container */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.questions-container button.correct-answer {
  transition: ease-in 0.3s;
  background: linear-gradient(45deg, #01720e, rgb(171, 252, 109)) !important;
  pointer-events: none; /* Disable hover effect on correct answer */
  width: 85%;
  max-width: 250px;
}

/* Specific styles for the progress bar */
.questions-container .progress-container {
  width: 80%;
  margin: 20px auto;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.questions-container .progress-bar {
  height: 20px;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.questions-container .content-container {
  display: flex;
}

.questions-container .buttons-container {
  width: 70%;
}

.questions-container button {
  width: 220px; /* Adjust the width to your preference */
  height: 46px; /* Adjust the height to your preference */
  font-size: 14px;
  text-align: center;
}

.questions-container .image-container {
  width: 30%;
  overflow: hidden;
  position: relative;
}

.questions-container img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 170px;
  height: 50%;
  object-fit: contain;
  top: 40%;
}

.summary-container h2 {
  color: rgb(164, 164, 253);
}

@media (max-width: 600px) {
  .questions-container .image-container img {
    display: none;
  }
}

/* Surface duo */
@media (max-width: 540px) {
  .summary-container {
    margin-top: 40%;
  }
}

/* Iphone Pro Max */
@media (max-width: 430px) {
  body {
    margin-top: 10%;
  }

  .content-container h2 {
    width: 120%;
  }
  .summary-container {
    margin-top: 40%;
  }
  .questions-container button.correct-answer {
    width: 120%;
  }
}

@media (max-width: 412px) {
  body {
    height: 100%;
    margin-top: 14%;
  }
  .summary-container {
    margin-top: -1%;
  }
}

/* Iphone SE */
@media (min-width: 375px) and (max-height: 667px) {
  body {
    margin-top: 6%;
  }
  .questions-container button.correct-answer {
    width: 120%;
  }
  .questions-container .image-container img {
    display: none;
  }
  .content-container {
    display: flex;
    width: 110%;
  }
  .questions-container button {
    width: 90%;
  }
  .summary-container {
    margin-top: 130%;
  }
  .content-container h2 {
    font-size: 95%;
  }
}

/* Samsung galaxy s8+ */
@media (max-width: 360px) {
  body {
    height: 100%;
    margin-top: 5%;
  }
  .content-container h2 {
    width: 110%;
    font-size: 95%;
  }
  .questions-container li button {
    width: 90%;
  }
  .questions-container button.correct-answer {
    width: 110%;
  }
  .summary-container {
    margin-top: -2%;
  }
}

@media (max-width: 280px) {
  .questions-container button {
    font-size: 60%;
    padding: 1px;
    width: 110%;
  }
}
